body {
  margin: 0;
  padding: 0;
  background-color: rgb(242, 180, 21);
  display: flex;
  justify-content: center;
  align-items: center;
}

input:checked + p {
  text-decoration: line-through;
  background-color: rgb(237, 169, 97);
}

.inbox {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
  background-color: rgb(236, 244, 243);
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item:nth-of-type(1) {
  border-bottom: 1px solid rgba(194, 194, 194, 0.7);
}
.item:nth-of-type(2) {
  border-bottom: 1px solid rgba(194, 194, 194, 0.7);
}
.item:nth-of-type(3) {
  border-bottom: 1px solid rgba(194, 194, 194, 0.7);
}
.item:nth-of-type(4) {
  border-bottom: 1px solid rgba(194, 194, 194, 0.7);
}
.item:nth-of-type(5) {
  border-bottom: 1px solid rgba(194, 194, 194, 0.7);
}
.item:nth-of-type(6) {
  border-bottom: 1px solid rgba(194, 194, 194, 0.7);
}
.item:nth-of-type(7) {
  border-bottom: 1px solid rgba(194, 194, 194, 0.7);
}
.item:nth-of-type(8) {
  border-bottom: 1px solid rgba(194, 194, 194, 0.7);
}

.checkbox__item {
  margin-left: 15px;
}

p {
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 10px;
}

.border {
  position: absolute;
  height: 100%;
  left: 43px;
  border-left: 2px solid rgb(194, 194, 194);
}
